<p style="color: green"><%= notice %></p>

<h1>Home</h1>

<div id="videos" class="card-group">
  <% @videos.each do |video| %>
    <%= render 'videos/video_preview', video: video %>
  <% end %>
</div>

<%= link_to "New video", new_video_path %>
